<div class="mb-3 mt-4">
  <form method="POST" action="">
    <label for="exampleFormControlInput1" class="form-label">Search</label>
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder="Search ..."
      name="q"
    />
    <button type="submit" class="btn btn-secondary rouder mt-3">Submit</button>
  </form>
</div>